<p>Hey {{ name }},</p>
<p>You've been invited to join the farm <strong>{{ farmName }}</strong></p>
<p>Please click below to join:</p>
<p>
    <a href="{{{ url }}}">Join Farm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>